/* CSS for every pages */

/* Reset and color page */
body,
h1,
p,
span {
	padding: 0%;
	margin: 0%;
	left: 0px;
	top: 0px;
}

body {
	/* background: var(--background); */
	background-image: url("https://images.unsplash.com/photo-1761960084255-7b45bd632251?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2672");
	color: var(--monochrome);
	transition: background 0.3s, color 0.3s; /* Pour une transition douce */
}

/* Content settings */

h1 {
	font-family: Instrument Serif;
	font-style: normal;
	font-weight: 200;
	text-align: left;
	font-size: 52px;
	letter-spacing: 0;
}

p {
	font-family: Instrument Serif;
	font-style: italic;
	font-weight: 400;
	text-align: left;
	font-size: 28px;
}

.p_link {
	color: var(--monochrome);;
	font-family: Instrument Serif;
	font-style: italic;
	font-weight: 400;
	text-align: left;
	font-size: 28px;
	text-decoration: none;
	transition: all .5s;
}

.p_link:hover {
	text-decoration: underline;
}

.button {
	text-decoration: none;
	font-family: Sora;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 18px;
	letter-spacing: -1.5px;
}

/* Content styling */

.container {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
}

/* Resize mini earth*/
.globe_emoji {
	width: 42px;
	height: 42px;
}

.paragraph {
	width: fit-content;
	height: auto;
}

.links{
	position: relative;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 16px;
}

.button {
	color: var(--monochrome);
	transition: all .5s;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: row;
	gap: 8px;
	justify-content: center;
	align-items: center;
}

.button:hover{
	transform:translateY(10px) scale(1.2);
	padding: 0 20px;
}

.github:hover {
	color: var(--monochrome);
}

.dribbble:hover {
	color: var(--dribbble-color)
}

.mail:hover {
	color: var(--contact-color);
}

.linkedin:hover {
	color: var(--linkedin-color);
}

.curriculum:hover {
	color: #328c00;
}