/* CSS for every pages */

/* Reset */
#root {
	width: 100%;
	height: 100%;
}

body,
h1,
p,
span {
    padding: 0%;
    margin: 0%;
    left: 0px;
    top: 0px;
}

/* Body styling */

body {
	background-color: var(--background);
    color: var(--monochrome);
    transition: color 0.3s; /* Pour une transition douce */
    /* Centrage horizontal & vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Content styling */

h1 {
    font-family: "Instrument Serif";
    font-style: normal;
    font-weight: 200;
    text-align: left;
    font-size: 52px;
    letter-spacing: 0;
}

p {
    font-family: "Instrument Serif";
    font-style: italic;
    font-weight: 400;
    text-align: left;
    font-size: 28px;
}