.Workpage {
    width: 50%; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;
}

.buddy_worker {
    width: 92px;
}

.btn_more {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 60px;
}

.btn_more a {
    text-decoration: none;
    color: inherit;
    padding: 12px 30px;
    border: 1px solid var(--monochrome);
    border-radius: 50px;
    background: transparent;
    transition: all 0.3s ease;
    font-family: "Sora", sans-serif;
    font-weight: 500;
}

.btn_more a:hover {
    background: #fff;
    color: #000;
    transform: translateY(-3px);
}